<template>
  <div>
    <b-nav
      class="navbar fixed-top navbar-expand-md navbar-light bg-gray shadow-sm"
    >
      <div class="container">
        <img
          src="../assets/img/Logo.png"
          alt=""
          class="embed-responsive-item"
          style="width: 150px; height: 80px"
        />

        <b-navbar-toggle target="navbarSupportedContent"></b-navbar-toggle>

        <b-collapse
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
          is-nav
        >
          <ul class="navbar-nav ml-auto">
            <b-nav-item-dropdown right>
              <template #button-content>
                <span href="" class="text-big"> John Doe</span>
              </template>
              <b-dropdown-item href="#">Log Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </ul>
        </b-collapse>
      </div>
    </b-nav>
  </div>
</template>
