<template>
  <div>
    <div class="sidebar">
      <router-link to="/Dashboard" class="">
        <div
          class="element-container "
          :class="Active == 'dashboard' ? 'SideBar-active' : ''"
        >
          <div class="element">
            <img
              src="../assets/img/icons8-dashboard-layout-96.png"
              height="30"
              class="ml-4 mt-3 position-absolute"
              alt=""
            />
            <p class="ml-6 mt-3 option font-weight-bold">Dashboard</p>
          </div>
        </div>
      </router-link>
      <router-link to="/Patron" class="">
        <div
          class="element-container"
          :class="Active == 'patron' ? 'SideBar-active' : ''"
        >
          <div class="element">
            <img
              src="../assets/img/icons8-conference-96.png"
              height="30"
              class="ml-4 mt-2 position-absolute mt-4"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Patron Management</p>
          </div>
        </div>
      </router-link>
      <router-link to="/Book" class="">
        <div
          class="element-container"
          :class="Active == 'book' ? 'SideBar-active' : ''"
        >
          <div class="element">
            <img
              src="../assets/img/icons8-book-stack-100.png"
              height="30"
              class="ml-4 mt-2 position-absolute mt-4"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Book Management</p>
          </div>
        </div>
      </router-link>
      <router-link to="/Settings" class="">
        <div
          class="element-container"
          :class="Active == 'setting' ? 'SideBar-active' : ''"
        >
          <div class="element">
            <img
              src="../assets/img/icons8-settings-50.png"
              height="30"
              class="ml-4 mt-3 position-absolute"
              alt=""
            />
            <p class="ml-6 mt-2 option font-weight-bold">Settings</p>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    Active: String,
  },
};
</script>
