@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
}
.fa-search {
  color: #9ea1a6;
}
.fa-pencil {
  color: #002c3e;
}
.fa-trash-o {
  color: red;
}
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}

.icon-return {
  filter: invert(68%) sepia(68%) saturate(5201%) hue-rotate(106deg)
    brightness(91%) contrast(80%);
}

.icon-borrow {
  filter: invert(65%) sepia(80%) saturate(1511%) hue-rotate(356deg)
    brightness(98%) contrast(108%);
}
.float-right {
  text-align: right !important;
}

.btn-secondary {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  color: white;
}

.req::after {
  color: red;
  content: "*";
  position: absolute;
  margin-left: 10px;
  font-size: 20px;
}

.line-search-bar {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #9ea1a6;
  width: 230px;
}
.bg-gray {
  background-color: #e1e1e1;
}
.text-big {
  font-size: 1.2rem;
  color: #002c3e;
}

.sidebar {
  height: 100vh;
  width: 220px;
  position: fixed;
  /* z-index: 1050; */
  top: 95px;
  left: 0;
  background: #e1e1e1;
  transition: all 400ms;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #002c3e;
  display: block;
  font-family: "Muli";
  transition: all 250ms;
}

.sidebar a:hover {
  font-size: 1.3rem;
  color: #539eb8;
}

.element-container {
  width: 100%;
  height: 80px;
  position: relative;
  margin-top: 1rem;
}

.element {
  position: absolute;
  margin-top: 1.5%;
}
.Page-active {
  color: #002c3e !important;
  border-color: #002c3e !important;
}
.Page-active:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.page-link {
  color: #002c3e !important;
}

.SideBar-active {
  font-size: 1.3rem;
  position: relative;
  background: rgba(196, 196, 196, 0.7);
}

.SideBar-active::after {
  content: "";
  border: solid #002c3e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 37px 5px 10px 200px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.ml-6 {
  margin-left: 4rem;
}
.f-right {
  margin-left: 65%;
}

.main-content {
  margin-left: 245px;
  padding: 0px 10px;
  margin-top: 6rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }
  .sidebar {
    width: 80px;
  }
  .element-container {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 1rem;
  }

  .SideBar-active {
    height: 70px;
  }
  .SideBar-active::after {
    content: "";
    display: none;
  }
  .option {
    display: none;
  }
  .main-content {
    margin-left: 90px;
  }
}
