<template>
  <div id="app">
    <NavBar />
    <SideBar Active="book" />
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddModal
              @click="$bvModal.show('AddModal')"
              ><i class="fa fa-plus-circle mr-2"></i>Add Books</b-button
            >
            <div class="float-right">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
              />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-active">
                <tr>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Name</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Author</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Copies Available</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Category</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Clean Architecture</td>
                  <td>Rober Martin</td>
                  <td>5</td>
                  <td>Computer Science</td>
                  <td class="text-center">
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-edit-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <b-button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-trash-can-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3 "
                        v-b-modal.DeleteModal
                        @click="$bvModal.show('DeleteModal')"
                      />
                    </b-button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-borrow-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-return-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Jose Rizal: Life, Works and Writings</td>
                  <td>Gregorio Zaide</td>
                  <td>4</td>
                  <td>History</td>
                  <td class="text-center">
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-edit-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <b-button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-trash-can-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3 "
                        v-b-modal.DeleteModal
                        @click="$bvModal.show('DeleteModal')"
                      />
                    </b-button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-borrow-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-return-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Code Complete</td>
                  <td>Steve McConnell</td>
                  <td>3</td>
                  <td>Computer Science</td>
                  <td class="text-center">
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-edit-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <b-button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-trash-can-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3 "
                        v-b-modal.DeleteModal
                        @click="$bvModal.show('DeleteModal')"
                      />
                    </b-button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-borrow-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-return-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Clean Code</td>
                  <td>Rober Martin</td>
                  <td>5</td>
                  <td>Computer Science</td>
                  <td class="text-center">
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-edit-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <b-button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-trash-can-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3 "
                        v-b-modal.DeleteModal
                        @click="$bvModal.show('DeleteModal')"
                      />
                    </b-button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-borrow-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-return-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Continuous Delivery Reliable Software Releases</td>
                  <td>Jez Humble</td>
                  <td>1</td>
                  <td>Computer Science</td>
                  <td class="text-center">
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-edit-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <b-button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-trash-can-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3 "
                        v-b-modal.DeleteModal
                        @click="$bvModal.show('DeleteModal')"
                      />
                    </b-button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-borrow-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                    <button class="btn-no-border">
                      <img
                        src="../assets/img/icons8-return-book-24.png"
                        alt=""
                        height="20"
                        class="cursor-pointer mr-3"
                      />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item mr-1">
                <a class="page-link rounded Page-active" href="#">1</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">8</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">9</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">11</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">12</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">13</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">14</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Add Modal -->
        <b-modal id="AddModal" title="Add Books" centered>
          <form>
            <b-form-group>
              <label for="BokName" class="req">Name</label>
              <b-form-input
                id="BokName"
                required
                placeholder="Input Book Name "
              ></b-form-input>

              <label for="BookAuthor" class="mt-3 req">Author</label>
              <b-form-input
                id="BookAuthor"
                required
                placeholder="Input Book Author "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Copies</label>
              <b-form-input
                id="BookCopies"
                required
                placeholder="Input Number of Copies"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Category</label>
              <b-form-select>
                <b-form-select-option value="Computer Science"
                  >Computer Science</b-form-select-option
                >
                <b-form-select-option value="History"
                  >History</b-form-select-option
                >
                <b-form-select-option value="Fiction"
                  >Fiction</b-form-select-option
                >
              </b-form-select>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btn btn-outline-add mr-2">
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('AddModal')"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>

        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered>
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style scoped>
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
</style>
<style></style>
