<template>
  <div>
    <NavBar />
    <SideBar Active="dashboard" />
    <div class="main-content">
      <div class="container pt-4">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Borrowed and Returned Books</h6>

                <hr />
              </div>
              <div class="card-body">
                <span class="position-absolute f-right"
                  >Monthly
                  <i class="fa fa-angle-down fa-lg ml-2 cursor-pointer"></i
                ></span>
                <canvas id="barChart" width="280" height="200"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                <canvas id="pieChart" width="280" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  mounted: function() {
    var ctx1 = document.getElementById("barChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
        ],
        datasets: [
          {
            label: "Returned",

            backgroundColor: "#75BBC8",
            hoverBackgroundColor: "green",
            data: [12, 19, 3, 5, 2, 3, 5, 2],
          },
          {
            label: "Burrowed",

            backgroundColor: "#16556F",
            hoverBackgroundColor: "red",
            data: [15, 26, 2, 6, 8, 6, 3, 3],
          },
        ],
      },
      options: {
        legend: {
          position: "top",
          align: "start",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
        tooltips: { mode: "index" },
        scales: {
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
      },
    });

    //  doughnut chart
    var ctx2 = document.getElementById("pieChart").getContext("2d");
    new Chart(ctx2, {
      type: "doughnut",
      data: {
        labels: ["Fiction", "Mystery", "Thriller", "Horror"],
        datasets: [
          {
            label: "Number of Return",

            backgroundColor: ["#8899AA", "#16556F", "#FFD662", "#75BBC8"],
            hoverBackgroundColor: "green",
            data: [50, 50, 50, 50],
          },
        ],
      },
      options: {
        legend: {
          position: "bottom",
          align: "center",
          labels: {
            boxWidth: 15,
            fontSize: 15,
          },
        },
      },
    });
  },
};
</script>
