<template>
  <div id="app">
    <NavBar />
    <SideBar Active="patron" />
    <div class="main-content">
      <div class="container pt-4">
        <div class="row">
          <div class="col-md-12">
            <b-button
              href=""
              class="btn btn-outline-add mt-2"
              v-b-modal.AddPatron
              @click="$bvModal.show('AddPatron')"
              ><i class="fa fa-plus-circle mr-2"></i>Add Patrons</b-button
            >
            <div class="float-right">
              <input
                placeholder="Search Item here"
                type="text"
                class="line-search-bar"
              />
              <i class="fa fa-search fa-lg pl-2" aria-hidden="true"></i>
            </div>
            <table class="table table-hover table-bordered shadow mt-5">
              <thead class="table-active">
                <tr>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Name</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Email Address</th>
                  <th><i class="fa fa-fw fa-sort mr-2"></i>Date Registered</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rizal, Jose</td>
                  <td>Rizal@gmail.com</td>
                  <td>October 26, 2020</td>
                  <td class="text-center">
                    <a href="#"
                      ><i class="fa fa-pencil fa-lg mr-4" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      v-b-modal.DeleteModal
                      @click="$bvModal.show('DeleteModal')"
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Luna, Juan</td>
                  <td>luna@gmail.com</td>
                  <td>October 26, 2020</td>
                  <td class="text-center">
                    <a href="#"
                      ><i class="fa fa-pencil fa-lg mr-4" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      v-b-modal.DeleteModal
                      @click="$bvModal.show('DeleteModal')"
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Doe, John</td>
                  <td>john@gmail.com</td>
                  <td>October 26, 2020</td>
                  <td class="text-center">
                    <a href="#"
                      ><i class="fa fa-pencil fa-lg mr-4" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      v-b-modal.DeleteModal
                      @click="$bvModal.show('DeleteModal')"
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Tacoyo, Kyle G.</td>
                  <td>tacoyo@gmail.com</td>
                  <td>October 26, 2020</td>
                  <td class="text-center">
                    <a href="#"
                      ><i class="fa fa-pencil fa-lg mr-4" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      v-b-modal.DeleteModal
                      @click="$bvModal.show('DeleteModal')"
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Vergel, Edd M.</td>
                  <td>vergel@gmail.com</td>
                  <td>October 26, 2020</td>
                  <td class="text-center">
                    <a href="#"
                      ><i class="fa fa-pencil fa-lg mr-4" aria-hidden="true"></i
                    ></a>
                    <a
                      href="#"
                      v-b-modal.DeleteModal
                      @click="$bvModal.show('DeleteModal')"
                    >
                      <i
                        class="fa fa-trash-o fa-lg mr-4"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item mr-1">
                <a class="page-link rounded Page-active" href="#">1</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">8</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">9</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">11</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">12</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">13</a>
              </li>
              <li class="page-item mr-1">
                <a class="page-link" href="#">14</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Add Modal -->
        <b-modal id="AddPatron" title="Add Patron" centered>
          <form>
            <b-form-group>
              <label for="BokName" class="req">First Name:</label>
              <b-form-input
                id="BokName"
                placeholder="Input First Name "
              ></b-form-input>

              <label for="BookAuthor" class="mt-3">Middle Name:</label>
              <b-form-input
                id="BookAuthor"
                placeholder="Input Middle Name "
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Last Name:</label>
              <b-form-input
                id="BookCopies"
                placeholder="Input Last Name"
              ></b-form-input>

              <label for="BookCopies" class="mt-3 req">Email Address:</label>
              <b-form-input
                id="BookCopies"
                placeholder="Input Email Address"
              ></b-form-input>
            </b-form-group>
          </form>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btn btn-outline-add mr-2">
                <i class="fa fa-plus-circle mr-2"></i>Add Patron
              </button>
              <button
                type="button"
                class="btn btn-outline-add"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('AddPatron')"
              >
                <i class="fa fa-arrow-circle-left mr-2"></i>Close
              </button>
            </div>
          </template>
        </b-modal>
        <!-- DeleteModal -->
        <b-modal id="DeleteModal" title="Confirm Delete" centered>
          <p>Are you sure you want to delete this?</p>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button
                type="button"
                class="btn secondary mr-2"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                block
                @click="$bvModal.hide('DeleteModal')"
              >
                Yes
              </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style scoped>
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
</style>
