<template>
  <div id="app">
    <NavBar />
    <SideBar Active="setting" />
  </div>
</template>

<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
